@page "/categories"
@inject BlazorShopDbContext _context
@using Microsoft.EntityFrameworkCore;

<h1>Categorias</h1>
<a href="categories/create" class="btn btn-primary mb-4 mt-2"
    style="background-color: #000; box-shadow: -2px 5px 10px -1px #000; border:none;"><i class="oi oi-plus"></i>
    Criar</a>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in _categories)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a href="/categories/edit/@category.Id" class="btn btn-outline-dark">Editar</a>
                    <a href="/categories/delete/@category.Id" class="btn btn-outline-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Category> _categories = new();
    protected override async Task OnInitializedAsync()
    {
        _categories = await _context.Categories.AsNoTracking().ToListAsync();
    }
}