@page "/products/create"
@using BlazorShop.Data
@using Microsoft.EntityFrameworkCore;
@inject BlazorShopDbContext _context

<h1>Novo Produto</h1>

<EditForm Model="_model" OnValidSubmit="@HandleSubmitAsync">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <InputText class="form-control" type="text" id="Name" @bind-Value="_model.Name" />
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <InputText class="form-control" type="text" id="Description" @bind-Value="_model.Description" />
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <InputNumber class="form-control" type="number" id="Price" @bind-Value="_model.Price" />
    </div>

    <div class="mb-3">
        <label for="CategoryId" class="form-label">Category</label>
        <InputSelect class="form-control" id="CategoryId" @bind-Value="_model.CategoryId">
            @foreach (var category in _categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </InputSelect>
    </div>

    <button class="btn btn-success" type="submit">Create</button>
</EditForm>

@code {

    Product _model = new();
    List<Category> _categories = new();

    protected override async Task OnInitializedAsync()
    {
        _categories = await _context.Categories.AsNoTracking().ToListAsync();
    }

    async Task HandleSubmitAsync()
    {

    }
}