@inherits LayoutComponentBase

<PageTitle>BlazorShop</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://balta.io/cursos/fundamentos-do-blazor-server" target="_blank" style="color: #FFF">Sobre o
                projeto</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
