@using System.Globalization

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td style="padding-left: 10px">Produto</td>
            <td style="padding-left: 10px">Preço</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in _product)
        {
            <tr>
                <td>@item.Id</td>
                <td style="padding-left: 10px">@item.Name</td>
                <td style="padding-left: 10px">@item.Price.ToString("C", new CultureInfo("pt-BR"))</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Product> _product = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(100);

        for (int i = 0; i < 50; i++)
        {
            _product.
            Add(new Product(i + 1, $"Produto {i}", $"Descrição produto {i}", $"Image {i}", i * 14.75M, 1));
        }
    }
}